@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #030303;
}
body{
    background-color: #F8f8f8;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* Navbar */
.header{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: transparent;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    width: 90%;
}
    /* Logo */
    .logo a{
        padding: .5rem;
        font-size: 1.5rem;
        font-weight: 500;
        color:  #FFF;
    }
    .logo a i{
        color:  #FFF;
        margin: 0 1rem;
    }
    /* Menu */
    .menu{
        display: flex;
    }
    .menu li{
        color:  #FFF;
        padding: 1rem 1.5rem;
        font-weight: 500;
        margin: 0 1rem;
    }
    .menu li:hover{
        box-shadow: 0 3px #89C2D9;
    }
    /* Resonsivo */
.header2{
    background-color: #FFF;
    transition: .5s;
    border-bottom: 1px solid #DEE2E6;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
}
.headerColor{
    color:#495057 !important;
    transition: .3s;
}

/* Banner */
figure{
    display: flex;
    height: 70vh;
    align-items: center;

}
.banner{
    background-image: url("img/wheel.jpg");
    background-color: #468FAF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    /* Apresentacao */
    .apresentacao{
        text-shadow: 1px 1px #6C757D;
    }
    .apresentacao p,h1{
        color: #FFF;
    }
    .apresentacao p{
        font-size: 1.6rem;
        padding-bottom: 1rem;
    }
    .apresentacao h1{
        margin-bottom: 3rem;
        font-size: 4rem;
    }
    
    /* Github Btn */
    .github{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        width: 14rem;
        background-color: #2C7DA0;
        border-radius: 10px;
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 10rem;
    }
    .github i {
        color: #FFF;
        font-size: 2rem;
        margin-right: 1rem;
    }
/* Sobre Mim */

    
    
    /* Foto */
    .sobreMimCard{
        display: flex;
        justify-content: space-around;
        height: 350px;
        padding: 30px;
        background-color: #FFF;
        box-shadow: 0px 8px 35px rgba(132, 146, 166, 0.15);
        border-radius: 1rem;
        margin-top: -170px;
    }
    
    
    .sobreMimFoto{
        text-align: center;
        margin: auto 0;
    }
    .sobreMimList{
        margin: auto 0;
    }
    .sobreMimList h2{
        text-align: center;
        margin-bottom: 28px;
        font-size: 28px;
    }
    .sobreMimList p{
        font-size: 18px;
        line-height: 120%;
        margin-bottom: 16px;
    }
    .fotoCirculo img{
        border-radius: 112px ;
        height: 224px;
        border: .5rem solid #468FAF;
    }
    
.tecnologias-title{
    margin: 100px 0 50px;
    text-align: center;
}
.tecnologias{
    margin: 0 -100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tecnologias-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 225px;
    width: 275px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 35px rgb(132 146 166 / 15%);
}
.tecnologias-block .block-logo{
margin-top: 20px;
}
@media(max-width: 1200px){
    /* Navbar */
    .navbar{
        width: 95%;
    }
    .logo a{
        font-size: 1.2rem;
    }
    .menu li{
        padding:0;
    }
    
    /* Sobre Mim */
    .sobreMim{
        margin: auto;
        width: 95%;
        grid-template-columns: repeat(1,1fr);
    }
}
@media(max-width: 768px){
    /* Banner */
    .apresentacao{
        padding: 4rem;
    }
}
@media(max-width: 420px){
    
}

/* JS */
.ativo {
    background-color: #2C7DA0;
}