@import "contato.scss";
@import "projetos.scss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #030303;
}
body{
    background-color: #F8f8f8;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
/* Navbar */
.header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FFF;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    min-height: 70px;
}
    /* Logo */
    .logo a{
        display: flex;
        font-size: 1.5rem;
        font-weight: 500;
        color:  #000;
    }
    .logo a svg{
        margin: 0 .5rem;
    }
    /* Menu */
    .menu{
        display: flex;
    }
    .menu li{
        color:  #000;
        padding: 1rem 1rem;
        margin: 0 .5rem;
        font-weight: 500;
    }
    .menu li:hover{
        box-shadow: 0 3px #89C2D9;
    }
    /* Resonsivo */
    .burger{
        display: none;
        margin: .5rem;
    }
.header2{
    background-color: #FFF;
    transition: .5s;
    border-bottom: 1px solid #DEE2E6;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
}
.headerColor{
    color:#495057 !important;
    transition: .3s;
}

/* Banner */
.banner{
    background-image: url("../img/wheel.jpg");
    background-color: #468FAF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
}
    /* Apresentacao */
    .apresentacao{
        text-shadow: 1px 1px #6C757D;
        padding-top: 120px;
    }
    .apresentacao p,h1{
        color: #FFF;
    }
    .apresentacao p{
        font-size: 1.6rem;
        padding-bottom: 1rem;
    }
    .apresentacao h1{
        margin-bottom: 3rem;
        font-size: 4rem;
    }
    
    /* Github Btn */
    .github{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        width: 14rem;
        background-color: #2C7DA0;
        border-radius: 10px;
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 500;
    }
    .github svg {
        margin-right: 1rem;
    }
/* Skills */
.skills.container{
    display: flex;
    justify-content: center;
}
.modulo-skills{
    margin-top: -150px;
    width: 100%;
    border-radius: 10px;
    background-color: #FFF;
    text-align: center;
    display: flex;
    box-shadow: 0px 8px 35px rgb(132 146 166 / 15%);
    border: 1px solid #c5c3c6;
}
.modulo-skills img{
    height: 50px;
    width: 50px;
    margin-bottom: 30px;

}
.modulo-skills h2{
    margin-bottom: 24px;
}
.modulo-skills p{
    margin: 0 10% 20px;
    text-align: center;
}
.skills-left{
    flex: 1;
    border-right: 1px solid #c5c3c6;
}
.skills-center{
    flex: 1;
    border-right: 1px solid #c5c3c6;
}
.skills-right{
    flex: 1;
}
.skills-left,
.skills-center,
.skills-right{
    padding: 40px 20px;
}

/* Sobre Mim */
.sobreMimCard{
    background-color: #dee2e6;
    padding: 50px;
    margin: 100px 0;
    -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 98%, 0% 100%);
    clip-path: polygon(0 0%, 100% 4%, 100% 98%, 0% 100%);
}
.sobreMimCard .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    /* Foto */
    
    .sobreMimFoto img{
        border-radius: 112px ;
        height: 224px;
        width: 224px;
        border: .5rem solid #468FAF;
        object-fit: cover;
    }
    
.tecnologias-title{
    margin: 100px 0 50px;
    text-align: center;
}
.tecnologias{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 60px 120px;
    
}
.tecnologias-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 225px;
    width: 285px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 35px rgb(132 146 166 / 15%);
}
.tecnologias-block .block-logo{
margin-top: 20px;
}
.tecnologias-block .block-logo img{
    height: 80px;
}

/* Footer */
footer{
    background-color: #00171f;
}
footer .container{
    display: flex;
    padding: 50px;
}
footer h3{
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
footer p{
    color: #FFF;
    font-size: 16px;
    line-height: 22px;
}
.footer-left{
    flex: 1;
}
.footer-left p{
    margin-bottom: 20px;
}
.footer-center{
    flex:1;
    padding-left: 20px;
}
.footer-center p{
    margin-bottom: 25px;
}
.footer-right{
    flex:1;
}
.footer-right a{
    margin-right: 20px;
}
.footer-right img{
    
    height: 60px;
}
.footer-bottom{
    background-color: #000f14;
    display: flex;
    padding: 5px 5%;
    justify-content: space-between;

}
.footer-bottom span{
    color: #2b2b2e;
}
/* 

MEDIA QUERIES

*/

@media(max-width: 900px){
    /* Navbar */
    .navbar{
        width: 95%;
    }
    .logo a{
        font-size: 1.2rem;
    }
    .navbar .menu{
        display: none;
    }
    .burger{
        display: block;
    }
    /* Banner */
    .banner{
        height: 80vh;
    }
    .apresentacao{
        padding-top: 60px;
    }
    /* Skills */
    .modulo-skills{
        margin-top: -100px;
    }
    /* Sobre Mim */
    .sobreMim{
        margin: auto;
        width: 95%;
        grid-template-columns: repeat(1,1fr);
    }
    .sobreMimCard{
        flex-direction: column;
        height: auto;
    }
    .sobreMimCard .container{
        flex-direction: column;
    }
    .sobreMimFoto{
        margin-top: 16px;
    }
    /* Tecnologias */
    .tecnologias-container{
        max-width: none;
        padding: 0;
    }
    .tecnologias{
        display: inline-block;
        height: 360px;
        max-width: 100%;
        padding: 0;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .tecnologias::-webkit-scrollbar {
        display: none;
      }
    .tecnologias li{
        display: inline-block;
    }
    
    /* Footer */
    footer .container{
        flex-direction: column;
    }
    footer h3{
        margin-bottom: 30px;
    }
    .footer-left,
    .footer-center,
    .footer-right{
        text-align: center;
        padding: 0 0 40px 0;
    }
    .footer-right a{
        margin: 20px;
    }
}

@media(max-width: 600px){
    .container{
        padding: 0 10px;
    }
    .tecnologias-container{
        max-width: none;
        padding: 0;
     }
    .modulo-skills{
        flex-direction: column;
    }
    .skills-left{
        border: none;
        border-bottom: 1px solid #c5c3c6;
    }
    .skills-center{
        border: none;
        border-bottom: 1px solid #c5c3c6;
    }
    /* Sobre Mim */
    .sobreMimCard{
        padding: 30px 15px;
    }
}
@media(max-width: 330px){
    .apresentacao h1{
        font-size: 3rem;
    }
    .apresentacao p{
        font-size: 1rem;
    }
}

/* JS */
.ativo {
    background-color: #2C7DA0;
}