@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
.contato-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/contato.jpg");
  background-color: #030303;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
}

.contato h2 {
  margin: 100px auto;
  text-align: center;
  max-width: 60%;
}

.contato-form {
  display: flex;
  justify-content: center;
}

.contato-form form {
  display: inline-block;
  width: 600px;
}

.form-top {
  display: flex;
}

.form-top input {
  width: 100%;
}

.form-left {
  flex: 1;
}

.form-right {
  flex: 1;
}

.form-bottom textarea {
  width: 100%;
}

.form-left,
.form-right,
.form-bottom {
  margin: 20px;
}

.contato-form-btn {
  text-align: center;
}

/* Projetos */
.projetos {
  background-color: #003049;
  -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 9%, 0% 100%);
  clip-path: polygon(0 0%, 100% 2%, 100% 110%, 0% 100%);
  margin-top: 10px;
}

.projetos-title {
  display: flex;
  justify-content: center;
}

.projetos-content {
  padding-bottom: 70px;
}

.projetos-title h2 {
  margin: 40px;
  background-color: #FFF;
  padding: 20px 40px;
  border-radius: 7px;
  box-shadow: 0px 8px 35px rgba(132, 146, 166, 0.15);
}

.projetos-item {
  margin: 0 -12px;
  margin-top: 40px;
  height: 300px;
  border-radius: 10px;
  display: flex;
}
.projetos-item:nth-child(n+2) {
  flex-direction: row-reverse;
}
.projetos-item .projetos-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projetos-item-content {
  width: 100%;
  margin: 0 10px;
  background-color: #FFF;
  padding: 16px 12px;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.3);
}
.projetos-item-content h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
.projetos-item-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}
.projetos-item-content .button {
  margin-top: auto;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 20px;
  color: #FFF;
  background-color: #2982C2;
  transition: 0.2s;
}
.projetos-item-content .button::after {
  content: url(../img/arrow.svg);
  position: relative;
  top: 1.5px;
  margin-left: 8px;
}
.projetos-item-content .button:hover {
  background-color: #2888B8;
}
.projetos-item-image {
  margin: 0 10px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.3);
  position: relative;
}
.projetos-item-image img {
  width: 300px;
  height: 300px;
  border-radius: 4px;
  object-fit: cover;
}
.projetos-item-image .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.1s;
  border-radius: 4px;
  cursor: pointer;
}
.projetos-item-image .overlay:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
}
.projetos-item-image .overlay:active {
  background-color: rgba(255, 255, 255, 0.4);
}
.projetos-item-image .overlay img {
  height: 64px;
  width: 64px;
}

.modal-tecnologia-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transform: translate3d(0, 0, 10px);
  transition: 2s;
}
.modal-tecnologia-overlay img {
  border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: #030303;
}

body {
  background-color: #F8f8f8;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Navbar */
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #FFF;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  min-height: 70px;
}

/* Logo */
.logo a {
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}

.logo a svg {
  margin: 0 0.5rem;
}

/* Menu */
.menu {
  display: flex;
}

.menu li {
  color: #000;
  padding: 1rem 1rem;
  margin: 0 0.5rem;
  font-weight: 500;
}

.menu li:hover {
  box-shadow: 0 3px #89C2D9;
}

/* Resonsivo */
.burger {
  display: none;
  margin: 0.5rem;
}

.header2 {
  background-color: #FFF;
  transition: 0.5s;
  border-bottom: 1px solid #DEE2E6;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
}

.headerColor {
  color: #495057 !important;
  transition: 0.3s;
}

/* Banner */
.banner {
  background-image: url("../img/wheel.jpg");
  background-color: #468FAF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
}

/* Apresentacao */
.apresentacao {
  text-shadow: 1px 1px #6C757D;
  padding-top: 120px;
}

.apresentacao p, h1 {
  color: #FFF;
}

.apresentacao p {
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.apresentacao h1 {
  margin-bottom: 3rem;
  font-size: 4rem;
}

/* Github Btn */
.github {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 14rem;
  background-color: #2C7DA0;
  border-radius: 10px;
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 500;
}

.github svg {
  margin-right: 1rem;
}

/* Skills */
.skills.container {
  display: flex;
  justify-content: center;
}

.modulo-skills {
  margin-top: -150px;
  width: 100%;
  border-radius: 10px;
  background-color: #FFF;
  text-align: center;
  display: flex;
  box-shadow: 0px 8px 35px rgba(132, 146, 166, 0.15);
  border: 1px solid #c5c3c6;
}

.modulo-skills img {
  height: 50px;
  width: 50px;
  margin-bottom: 30px;
}

.modulo-skills h2 {
  margin-bottom: 24px;
}

.modulo-skills p {
  margin: 0 10% 20px;
  text-align: center;
}

.skills-left {
  flex: 1;
  border-right: 1px solid #c5c3c6;
}

.skills-center {
  flex: 1;
  border-right: 1px solid #c5c3c6;
}

.skills-right {
  flex: 1;
}

.skills-left,
.skills-center,
.skills-right {
  padding: 40px 20px;
}

/* Sobre Mim */
.sobreMimCard {
  background-color: #dee2e6;
  padding: 50px;
  margin: 100px 0;
  -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 98%, 0% 100%);
  clip-path: polygon(0 0%, 100% 4%, 100% 98%, 0% 100%);
}

.sobreMimCard .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Foto */
.sobreMimFoto img {
  border-radius: 112px;
  height: 224px;
  width: 224px;
  border: 0.5rem solid #468FAF;
  object-fit: cover;
}

.tecnologias-title {
  margin: 100px 0 50px;
  text-align: center;
}

.tecnologias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 60px 120px;
}

.tecnologias-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 225px;
  width: 285px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 35px rgba(132, 146, 166, 0.15);
}

.tecnologias-block .block-logo {
  margin-top: 20px;
}

.tecnologias-block .block-logo img {
  height: 80px;
}

/* Footer */
footer {
  background-color: #00171f;
}

footer .container {
  display: flex;
  padding: 50px;
}

footer h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

footer p {
  color: #FFF;
  font-size: 16px;
  line-height: 22px;
}

.footer-left {
  flex: 1;
}

.footer-left p {
  margin-bottom: 20px;
}

.footer-center {
  flex: 1;
  padding-left: 20px;
}

.footer-center p {
  margin-bottom: 25px;
}

.footer-right {
  flex: 1;
}

.footer-right a {
  margin-right: 20px;
}

.footer-right img {
  height: 60px;
}

.footer-bottom {
  background-color: #000f14;
  display: flex;
  padding: 5px 5%;
  justify-content: space-between;
}

.footer-bottom span {
  color: #2b2b2e;
}

/* 

MEDIA QUERIES

*/
@media (max-width: 900px) {
  /* Navbar */
  .navbar {
    width: 95%;
  }

  .logo a {
    font-size: 1.2rem;
  }

  .navbar .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  /* Banner */
  .banner {
    height: 80vh;
  }

  .apresentacao {
    padding-top: 60px;
  }

  /* Skills */
  .modulo-skills {
    margin-top: -100px;
  }

  /* Sobre Mim */
  .sobreMim {
    margin: auto;
    width: 95%;
    grid-template-columns: repeat(1, 1fr);
  }

  .sobreMimCard {
    flex-direction: column;
    height: auto;
  }

  .sobreMimCard .container {
    flex-direction: column;
  }

  .sobreMimFoto {
    margin-top: 16px;
  }

  /* Tecnologias */
  .tecnologias-container {
    max-width: none;
    padding: 0;
  }

  .tecnologias {
    display: inline-block;
    height: 360px;
    max-width: 100%;
    padding: 0;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .tecnologias::-webkit-scrollbar {
    display: none;
  }

  .tecnologias li {
    display: inline-block;
  }

  /* Footer */
  footer .container {
    flex-direction: column;
  }

  footer h3 {
    margin-bottom: 30px;
  }

  .footer-left,
.footer-center,
.footer-right {
    text-align: center;
    padding: 0 0 40px 0;
  }

  .footer-right a {
    margin: 20px;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }

  .tecnologias-container {
    max-width: none;
    padding: 0;
  }

  .modulo-skills {
    flex-direction: column;
  }

  .skills-left {
    border: none;
    border-bottom: 1px solid #c5c3c6;
  }

  .skills-center {
    border: none;
    border-bottom: 1px solid #c5c3c6;
  }

  /* Sobre Mim */
  .sobreMimCard {
    padding: 30px 15px;
  }
}
@media (max-width: 330px) {
  .apresentacao h1 {
    font-size: 3rem;
  }

  .apresentacao p {
    font-size: 1rem;
  }
}
/* JS */
.ativo {
  background-color: #2C7DA0;
}

/*# sourceMappingURL=style.css.map */
